.baskervville-regular {
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: normal;
}
 
body{ /*background gradient colour on all views*/
  background: linear-gradient(to top,
  #002902,
  #1b2d00, 
  #302f00, 
  #462f00, 
  #5b2d00, 
  #633201, 
  #6b3701, 
  #733c00, 
  #6a4d00, 
  #5a5c00, 
  #426b00, 
  #097826);
}
