{% extends 'base.html' %}
{% load cloudinary %}
{% block content %}
<section class="profile-container container-fluid text-center">
    <h2>{{profile.user.username}}'s Profile</h2>
    <span class="image-container">{% cloudinary profile.image alt=profile.user.username %}</span>
    {% if request.user == profile.user %}
    <br>
    <p>Bio: {{profile.bio}}</p>
    <p>Location: {{profile.location}}</p>
    <a href="{% url 'profile-update' %}" class="btn btn-primary">Edit Profile</a>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#delete-profile-modal">
        Delete Profile
      </button>
    {% endif %}
</section>
{% if request.user == profile.user %}
<div id="delete-profile-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Profile</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>This will permanently delete your profile. Are you sure?
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a href="{% url 'delete-profile' profile.id %}" class="btn btn-primary">Delete</a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
{% endblock %}
