
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A blog-style digital library and discussion board.">
    <meta name="keywords" content="books, reading, reviews, discussion, blog">
    <!--Title-->
    <title>ReadIt - The Happy Place For Bookworms</title>
    <!--Favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon/favicon-16x16.png">
    <!--File links-->
    <link rel="stylesheet" href="">
    <script src="https://kit.fontawesome.com/f1a55dce71.js" crossorigin="anonymous"></script>
    <!--Custom Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=LXGW+WenKai+TC&family=Unbounded:wght@200..900&display=swap" rel="stylesheet">
    <!--CSS Stylesheet-->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bookworm/style.css' %}"> 
</head>
<body>
    <!--Header-->
    <header id="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="/bookworm/staticfiles/images/logo.png" href="#">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-link active" href="#">Home<span class="sr-only">(current)</span></a>
                <a class="nav-link" href="#">Top 10</a>
                <a class="nav-link" href="#">Genres</a>
                <a class="nav-link disabled">Contact</a>
              </div>
            </div>
          </nav>
    </header>
    <main>
        {% block content %}
        <!--Default content here-->
        {% endblock %}
    </main>

<!--Footer-->
    <footer id="footer">
        <ul id="social-media">
            <li>
                <a href="https://www.facebook.com/" target="_blank" rel="noopener" aria-label="Facebook"><i
                        class="fa-brands fa-facebook-f"></i></a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="Instagram"><i
                        class="fa-brands fa-instagram"></i></a>
            </li>
            <li>
                <a href="https://www.twitter.com/" target="_blank" rel="noopener" aria-label="Twitter"><i
                        class="fa-brands fa-x-twitter"></i></a>
            </li>
            <li>
                <a href="https://www.tiktok.com/" target="_blank" rel="noopener" aria-label="TikTok"><i
                        class="fa-brands fa-tiktok"></i></a>
            </li>
        </ul>
    </footer>
</body>
</html>