@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=LXGW+WenKai+TC&family=Unbounded:wght@200..900&display=swap');


.navbar-logo img{
  max-height: 40px;
  max-width: 40px;
}
body{ 
  font-family: "Unbounded", sans-serif;
  align-items: center;
  display: flex;
  align-content: center;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background:url("../images/background-image.jpg") no-repeat;
}

main {
  flex: 1 0 auto;
  margin: 30px 30px;
  backdrop-filter: blur(100px);
  background-color: #794216;
}
.footer {
  text-align: center;
  padding: 20px 0;
  display: flex;
  position:fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  justify-content: space-evenly;
  list-style-type: none;
  
}
.dropdown-toggle {
  display: flex;
  flex-direction: row;
}
.dropdown-menu.show {
  display: flex;
  background-color: unset;
}
.container {
  width:auto;
  height: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  border-radius: 10px;
  backdrop-filter: blur(100px);
}
.profile-container {
  background-color: peachpuff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.logo {
  max-width: 60%;
  max-height: 30%;
}

.btn-primary {
  text-decoration: none;
  color: unset;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.5), -3px -3px rgba(0, 0, 0, 0.9) inset;
  border-radius: 5px;
  padding: 5px;
  background-color: unset;
  border-color: unset;
  margin: 10px;
}
.card{
  padding: 10px 10px;
  background-color:peachpuff;
  margin: 10px 10px;
}

.card-img-top{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-end;
}

.card-img-top img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}