.baskervville-regular {
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: normal;
}
.navbar-logo img{
  max-height: 40px;
  max-width: 40px;
}
body{ 
  background: #794216; 
}
main {
  flex: 1 0 auto;
  margin-top: 50px;
  background-color: #794216;
}
#footer {
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}
