/* body {
    background-color: brown!important;
}
footer {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;

}
.social-media i {
    color: black;
    font-size: 120%;
} */