{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'bookworm/css/style.css' %}" />
{% endblock %}
{% block body %}

<!--Home page welcome message & instructions-->
<!-- <div class="jumbotron">
    <h1 class="display-4">Hey You!</h1>
    <p class="lead">Welcome to ReadIt - The Happy Place For Bookworms</p>
    <hr class="my-4">
    <p>Simply sign-up or log in and let the adventure begin!</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Knock-Knock!</a>
  </div> -->

{% endblock %}