{% load static %}

<!--Footer-->
<footer id="footer">
    <ul id="social-media">
        <li>
            <a href="https://www.facebook.com/" target="_blank" rel="noopener" aria-label="Facebook"><i
                    class="fa-brands fa-facebook-f"></i></a>
        </li>
        <li>
            <a href="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="Instagram"><i
                    class="fa-brands fa-instagram"></i></a>
        </li>
        <li>
            <a href="https://www.twitter.com/" target="_blank" rel="noopener" aria-label="Twitter"><i
                    class="fa-brands fa-x-twitter"></i></a>
        </li>
        <li>
            <a href="https://www.tiktok.com/" target="_blank" rel="noopener" aria-label="TikTok"><i
                    class="fa-brands fa-tiktok"></i></a>
        </li>
    </ul>
</footer>